# fly.toml app configuration file generated for hhmmss on 2025-11-13T12:58:23Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'hhmmss'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
