# fly.toml app configuration file generated for hhmmss
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = 'hhmmss'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '10s'
    method = 'GET'
    path = '/actuator/health'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[env]
  SPRING_PROFILES_ACTIVE = "docker"
  SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE = "128KB"
  SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE = "128KB"
  JODCONVERTER_LOCAL_ENABLED = "true"
  JODCONVERTER_LOCAL_OFFICE_HOME = "/usr/lib/libreoffice"
  JODCONVERTER_LOCAL_PORT_NUMBERS = "2002"
  JODCONVERTER_LOCAL_MAX_TASKS_PER_PROCESS = "10"
  JAVA_OPTS = "-XX:+UseContainerSupport -XX:MaxRAMPercentage=75.0 -Djava.security.egd=file:/dev/./urandom"
