<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Upload</title>
</head>
<body>

<div th:if="${message}">
    <p th:if="${uuidFilename}">Uploaded file <strong th:text="${originalFilename}"></strong> to <strong th:text="${uuidFilename}"></strong>
    </p>
</div>

<div>
    <form action="/" enctype="multipart/form-data" method="POST">
        <div>
            File to upload: <input id="fileInput" name="file" type="file" style="width: 6a00px;"/> <input id="uploadButton" type="submit"
                                                                                           value="Upload" disabled/>
        </div>
    </form>
</div>
<script>
    document.getElementById('fileInput').addEventListener('change', function() {
        var uploadButton = document.getElementById('uploadButton');
        uploadButton.disabled = !this.files.length;
    });
</script>
<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}"/>
        </li>
    </ul>
</div>
</body>
</html>
